.fundo {
    background-color: white;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    align-content: start;
    margin-top: 10%;
    width: auto;
    height: auto;
    position: relative;
    left: 10%;
}

.greetings {
    width: auto;
    height: 50%;
}

.greet1 {
    align: left;
    letter: -4%;
    line-height: 93%;
    font-size: 400%;
    weight: bold;
    color: #181E4B;
    font-family: 'Open Sans', sans-serif;"Plus Jakarta Sans";
}

.greet2 {
    weight: 500;
    font-size: 15px;
    line-height: 180%;
    margin-top: 5%;
    color: #5E6282;
    font-family: 'Open Sans', sans-serif;"Plus Jakarta Sans";
}

.divLogo {
    position: absolute;
    left: 48%;
    bottom: 12%;
}

.logo {
    width: 70%;
    height: 50%;
}

.btnProsseguir {
    position: relative;
    margin-top: 2%;
    background-color: #B6B8BE;
    border-radius: 10px;
    border-style: none;
    width: 180px;
    height: 50px;
    box-shadow: 0 8px 8px 0 #B6B8BE;
}

.playbtn {
    position: relative;
    left: 20%;
    width: 80px;
    height: 80px;
}

.pProsseguir {
    font-family: 'Open Sans', sans-serif;"Plus Jakarta Sans";
    color: white;
}

a:link {
    text-decoration: none;
}