html {
    overflow-x: hidden;
    overflow-y: hidden;
}



.btnVoltar {
    background-image: url("imgs/returnArrow.png") no-repeat;
    border: none;
    width: 50px;
    height: 50px;
}

.divVoltar {
    position: relative;
    width: auto;
    height: auto;
    left: 10%;
    margin-top: 5%;
}

.divFormUS {
    position: relative;
    width: auto;
    height: auto;
    margin-top: 10%;
    left: 10%;
}

.btnAS {
    position: relative;
    margin-top: 2%;
    background-color: #7C7C7C;
    border-radius: 10px;
    border-style: none;
    width: 240px;
    height: 60px;
}

.btnUS {
    position: relative;
    margin-top: 2%;
    background-color: #7C7C7C;
    border-radius: 10px;
    border-style: none;
    width: 240px;
    height: 60px;
}

a:link {
    text-decoration: none;
}

a {
    font-family: 'Open Sans', sans-serif;"Plus Jakarta Sans";
    color: black;
    weight: 500;
}

.divLogo {
    position: absolute;
    left: 50%;
    bottom: 10%;
}

.logo {
    width: 70%;
    height: 50%;
}

.lblUs {
    font-family: 'Open Sans', sans-serif;"Plus Jakarta Sans";
    color: black;
    weight: 500;
}

.inpUs {
    font-family: 'Open Sans', sans-serif;"Plus Jakarta Sans";
    color: black;
    weight: 500;
}

.divFormAS {
    position: relative;
    width: auto;
    height: auto;
    margin-top: 10%;
    left: 10%;
}

.divTitle {
    position: absolute;
    width: auto;
    height: auto;
    left: 40%;
    top: 13%;
}

.pCrie {
    align: left;
    letter: -4%;
    font-size: 160%;
    weight: bold;
    font-family: 'Open Sans', sans-serif;"Plus Jakarta Sans";
}

.lblUs {
    font-family: 'Open Sans', sans-serif;"Plus Jakarta Sans";
}

.inpUs {
    margin-top: 0.5%;
    margin-bottom: 1%;
    border: none;
    color: grey;
    width: 20%;
    border-bottom: 1px solid lightgrey;
    font-family: 'Open Sans', sans-serif;"Plus Jakarta Sans";
}