.fundo {
    background-color: white;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    align-content: center;
    position: absolute;
    width: auto;
    height: auto;
    left: 42%;
    top: 20%;
}

.btnCriar {
    position: relative;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    border-style: solid #7C7C7C;
    width: 240px;
    height: 60px;
}

.btnLogin {
    position: relative;
    background-color: #7C7C7C;
    border-radius: 10px;
    border-style: none;
    width: 240px;
    height: 60px;
}

.btnCriar a {
    font-family: 'Open Sans', sans-serif;"Plus Jakarta Sans";
    color: #C7C7C7;
    weight: 500;
}

.btnLogin a {
    font-family: 'Open Sans', sans-serif;"Plus Jakarta Sans";
    color: #fff;
    weight: 800;
}

a:link {
    text-decoration: none;
}